@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  white-space: pre-line;
  font-weight: 700;
}
h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

@layer base {
  :root {
    /* 커스텀 */
    --emotion-happy: #ffc134;
    --emotion-calm: #3cc42e;
    --emotion-sad: #3a76e2;
    --emotion-annoy: #9a48c1;
    --emotion-angry: #f13c33;
    --main-color: #3cc42e;
    --main-color-darker: #288d1d;
    --background: #272727;
    --background-lighter: #3e3e3e;
    --main-text-color: #ffffff;
    --sub-text-color: #c4c4c4;
    --bottom-tab-color: #363636;

    /* 기존 */
    --foreground: #1a1d29;
    --card: #ffffff;
    --card-foreground: #1a1d29;
    --popover: #ffffff;
    --popover-foreground: #1a1d29;
    --primary: #ffffff;
    --primary-foreground: #ffffff;
    --secondary: #c4c4c4;
    --secondary-foreground: #1a1d29;
    --muted: #f2f2f2;
    --muted-foreground: #7a7a7a;
    --accent: #f2f2f2;
    --accent-foreground: #1a1d29;
    --destructive: #ffcc33;
    --destructive-foreground: #ffffff;
    --border: #d1d5db;
    --input: #d1d5db;
    --ring: #1a1d29;
    --radius: 0.5rem;
    --chart-1: #ffc134;
    --chart-2: #a3e635;
    --chart-3: #4bafee;
    --chart-4: #b5d76d;
    --chart-5: #a8e6ce;
  }

  .dark {
    --background: #1a1d29;
    --foreground: #ffffff;
    --card: #1a1d29;
    --card-foreground: #ffffff;
    --popover: #1a1d29;
    --popover-foreground: #ffffff;
    --primary: #ffffff;
    --primary-foreground: #1a1d29;
    --secondary: #2b2d4d;
    --secondary-foreground: #ffffff;
    --muted: #2b2d4d;
    --muted-foreground: #a3a3a3;
    --accent: #2b2d4d;
    --accent-foreground: #ffffff;
    --destructive: #ffcc33;
    --destructive-foreground: #ffffff;
    --border: #2b2d4d;
    --input: #2b2d4d;
    --ring: #e5e7eb;
    --chart-1: #007bff;
    --chart-2: #a1d8d2;
    --chart-3: #ffd700;
    --chart-4: #a45ebe;
    --chart-5: #d83c3c;
  }
}

@layer base {
  html,
  body,
  :root {
    height: 100%;
    background: #272727;
  }
  * {
    @apply border-border;
  }
}
